@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
body{
font-family: 'IBM Plex Mono', monospace;
display: grid;
font-weight:bold;

}

.parallax {
    /* The image used */

background-image: url('../images/blgbackground2.jpg');
    /* Set a specific height */
    height: 500px;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-header{
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: beige;
  opacity: 0.7
  -webkit-box-shadow: 0 1px 0px #888888;
  -moz-box-shadow: 0 1px 0px #F5F5DC;
  box-shadow: 0 0.5px 0px #F5F5DC;
  position:fixed;
  top:0;
  width:100%

}

ul {
  list-style-type: none;
}

.nav-header li{
  align-self: center;
  text-align: center;
}


h1{
  text-align: right;
  text-decoration-style: double;
  font-size: 7.77em;
  margin: 1.5em .5em 1em .5em
  right-padding: 1em

}

article{
display:flex;
justify-content: space-around;
margin: 1;
align-content: center;
}

.tagline{

  font-size: 3em;
}

.hover-beige:hover{
  background: beige;
  opacity:.7;
}


.blog-container{
  display:flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

}
.blog-item{
  width: 30%

}

h2{
  text-decoration: underline;
}

footer{
  display:flex;
}
